{%- if mod_path|length > 2 %}
//! `{{ url }}` REST operations of {{ service_name }}
{%- else %}
//! `{{ service_name|capitalize }}` Service bindings
{%- endif %}

{%- for mod in mod_list|sort %}
{%- if mod in ["type"] %}
pub mod r#{{ mod }};
{%- else %}
pub mod {{ mod }};
{%- endif %}
{%- endfor %}

