{%- import 'rust_macros.j2' as macros with context -%}
{%- for subtype in type_manager.get_subtypes() %}
{{ macros.docstring(subtype.description, indent=0) }}
{%- if subtype.derive_container_macros %}
{{ subtype.derive_container_macros }}
{%- endif %}
{%- if subtype.builder_container_macros %}
{{ subtype.builder_container_macros }}
{%- endif %}
{%- if subtype.serde_container_macros %}
{{ subtype.serde_container_macros }}
{%- endif %}
pub {{ subtype.base_type }} {{ subtype.name }}{{ ("<" + ",".join(subtype.lifetimes) + ">") if subtype.lifetimes else ""}} {
  {%- if subtype["fields"] is defined %}
  {#- Struct fields #}
  {%- for name, field in subtype.fields | dictsort %}
    {{ macros.docstring(field.description, indent=4) }}
    {{ field.serde_macros }}
    {{ field.builder_macros }}
    pub(crate) {{ field.local_name }}: {{ field.type_hint }},
  {%- endfor %}
  {%- elif subtype["kinds"] is defined %}
  {#- Enum kinds #}
  {%- for name, kind in subtype.kinds | dictsort %}
    {{- macros.docstring(kind.description, indent=4) }}
    {{ name }}({{ kind.type_hint }}),
  {%- endfor %}
  {%- elif subtype["variants"] is defined %}
  {#- StringEnum kinds #}
  {%- for k, v in subtype.variants | dictsort %}
    {{ subtype.variant_serde_macros(k) }}
    {{ k }},
  {%- endfor %}
  {%- endif %}

  {%- if subtype.base_type == "struct" and subtype.additional_fields_type %}

    #[builder(setter(name = "_properties"), default, private)]
    #[serde(flatten)]
    _properties: BTreeMap<Cow<'a, str>, {{ subtype.additional_fields_type.type_hint }}>,
  {%- endif %}
}

{% if type_manager.subtype_requires_private_builders(subtype) %}
impl{{ ("<" + ",".join(subtype.lifetimes) + ">") if subtype.lifetimes else ""}} {{ subtype.name }}Builder{{ ("<" + ",".join(subtype.lifetimes) + ">") if subtype.lifetimes else ""}} {

  {%- for name, field in subtype.fields | dictsort %}
    {%- if "private" in field.builder_macros %}
      {{ macros.sdk_builder_setter(field)}}
    {%- endif %}
  {%- endfor %}

  {% if subtype.additional_fields_type is defined and subtype.additional_fields_type %}
    pub fn properties<I, K, V>(&mut self, iter: I) -> &mut Self
      where
          I: Iterator<Item = (K, V)>,
          K: Into<Cow<'a, str>>,
          V: Into<{{ subtype.additional_fields_type.type_hint }}>,
      {
          self._properties
              .get_or_insert_with(BTreeMap::new)
              .extend(iter.map(|(k, v)| (k.into(), v.into())));
          self
      }

  {%- endif %}

}
{% endif %}
{%- endfor %}
