        let find_ep = find::Request::builder()
            .id(&self.path.image_id)
            .build()
            .map_err(|x| OpenStackCliError::EndpointBuild(x.to_string()))?;
        let image_data: serde_json::Value = find(find_ep).query_async(client).await?;

        let image_id = image_data["id"]
            .as_str()
            .expect("Image ID is a string")
            .to_string();
        let image_name = image_data["name"]
            .as_str()
            .expect("Image name is a string")
            .to_string();

        let ep = download::Request::builder()
            .image_id(image_id)
            .build()
            .map_err(|x| OpenStackCliError::EndpointBuild(x.to_string()))?;
        let (headers, data) = ep.download_async(client).await?;

        let size: u64 = headers
            .get("content-length")
            .map(|x| x.to_str().expect("Header is a string"))
            .unwrap_or("0")
            .parse()
            .unwrap();
        download_file(self.file.clone().unwrap_or(image_name), size, data).await?;
