{#- List operation #}
{%- if data_type.__class__.__name__ in ["StructResponse", "TupleStruct"] %}
    {%- if is_list_paginated %}
    {#- paginated list #}
        let data: Vec<serde_json::Value> = paged(ep, Pagination::Limit(self.max_items)).query_async(client).await?;
    {%- else %}
        let data: Vec<serde_json::Value> = ep.query_async(client).await?;
    {%- endif %}

        op.output_list::<ResponseData>(data)?;

{%- elif data_type.__class__.__name__ == "HashMapResponse" %}
        let data = ep.query_async(client).await?;
        op.output_single::<ResponseData>(data)?;
{%- endif %}
