
/// Query parameters
#[derive(Args)]
struct QueryParameters {
{%- for name, param in type_manager.parameters | dictsort %}
{%- if param.location == "query" %}
    {{ macros.docstring(param.description, indent=4) }}
    {{ param.clap_macros }}
    {{ param.local_name}}: {{ param.type_hint }},
{%- endif %}
{%- endfor %}
}
